@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}

.logbutton{
    margin-left: 1000px;
}

.logbutton1{

    padding-right:20px;
}